.env
firecrawl_cli.egg-info/dependency_links.txt
firecrawl_cli.egg-info/entry_points.txt
firecrawl_cli.egg-info/PKG-INFO
firecrawl_cli.egg-info/requires.txt
firecrawl_cli.egg-info/SOURCES.txt
firecrawl_cli.egg-info/top_level.txt
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/api_client.cpython-312.pyc
src/__pycache__/cli.cpython-312.pyc
src/__pycache__/config.cpython-312.pyc
web_scraper_assistant.egg-info/